body {
  /*font-family: 'Lobster', cursive;*/
  /*font-family: 'EB Garamond', serif;*/
  /*font-family: 'Anton', sans-serif;*/
  font-family: 'Lato', sans-serif;
}

/*navbar*/
.navbar-default .navbar-nav > li > a { 
  color: #3b73a4; 
  text-transform: lowercase;
}

.navbar-default .navbar-nav > li > a.active { 
  color: #4BD1A0; 
}

.navbar-default .navbar-nav  > li > a:hover {
  background-color: transparent;
  color: #4BD1A0;
}

/*override for dropdown hover*/
.dropdown:hover>.dropdown-menu {
  display: block !important;
}

.dropdown:hover < a.dropdown-item {
  color: #4BD1A0 !important;
}

/*new Navbar collapse 1200px*/
/* Trigger bootstrap navbar collapse pada viewport <= 1200px */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in{
        display:block !important;
    }
  

    /* Hapus gap 15px pada .navbar-collapse */
    .navbar .navbar-nav {
      margin-left: -15px;
      margin-right: -15px;
    }

    /* Merapihkan dropdown menu: Warna, posisi dll */
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: rgb(119, 119, 119);
        padding: 5px 15px 5px 25px;
    }
}

@media screen and (min-width: 768px) {
    /* Rubah behaviour .container */
  .navbar .container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 1170px;
    width: initial;
  }
  
  .navbar > .container .navbar-brand {
    margin-left: 0;
  }
  
  .navbar .container .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }
}

/*new Navbar collapse 1200px*/

.kiducation {padding-top: 60px;}

.kiducation .navbar {
    margin-bottom: 0;
  }
  .kiducation .navbar .navbar-nav {
    height: 80px;
    width: 100%;
    padding: 12px;
    text-align: center;
  }
  .kiducation .navbar .navbar-nav > li {
    display: inline-block;
    float: none;
    margin: 0 20px;
    color: #3b73a4;
  }
  .kiducation .navbar .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
    color: #3b73a4;
  }
  .kiducation .navbar .navbar-nav > li > a:hover {
    background-color: transparent;
  }
  .kiducation .hero {
    min-height: 70vh;
    padding: 110px 0 70px 0;
    background-color: #4988cd;
  }
  .kiducation .hero-title {
    font-size: 80px;
    color: #fff;
    margin-bottom: 40px;
    font-family: 'Hammersmith One', sans-serif;
  }
  .kiducation .hero-title-aboutus {
    font-size: 50px;
    color: #fff;
    margin-bottom: 40px;
    font-family: 'Hammersmith One', sans-serif;
  }

  @media(max-width: 567px){
    .kiducation .hero-title-aboutus {
      margin-bottom: 20px;
    }

    .kiducation .hero-subtitle-aboutus {
      margin-top: 30px !important;
      margin-bottom: 30px;
    }

  }
  .kiducation .hero-subtitle {
    font-size: 20px;
    color: #fff;
    letter-spacing: 3.4px;
    line-height: 1.3;
    text-align: justify;
  }

  .kiducation .hero-subtitle-aboutus {
    font-size: 15px;
    color: #fff;
    letter-spacing: 3.4px;
    line-height: 1.3;
    text-align: justify;
  }
  .kiducation .hero-divider {
    width: 100%;
    background-color: #ffb5a8;
    color: #fff;
    text-align: center;
  }
  .kiducation .hero-divider span {
    letter-spacing: 3px;
  }

  .btn-register {
    background-color: #88ccbd;
    color: #fff !important;
    border-color: #88ccbd;
    text-transform: lowercase;
    cursor: pointer;
    padding: 15px;
    min-width: 150px;
    transition: 0.5s all;
  }

  .btn-register:hover {
    background-color: #88ccbd;
    color: #fff;
    opacity: 0.9;
  }

  .btn-text {
    color: #88ccbd;
    font-style: oblique;
    background-color: transparent;
    border-color: transparent;
    padding: 10px;
  }

  .btn-outline {
    color: #88ccbd;
    background-color: transparent;
    border-color: #88ccbd;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 2px;
  }

  .btn-outline:hover {
    color: #fff;
    background-color: #88ccbd;
  }

  .btn-account {
    color: #4988cd;
    background-color: #fff;
    font-size: 15px;
    margin-top: 10px;
  }

  .btn-account:hover {color: #4988cd;}

  .hero-header {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 35px;
    line-height: 2;
  }

  .whatweoffer {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .whatweoffer-title {
    text-align: center;
    font-size: 30px;
    color: #85c9ba;
    text-transform: uppercase;
  }

  .whatweoffer .img-wrapper {
    height: 300px;
  }

  .whatweoffer .img-wrapper img {
    width: 100%;
    height: 100%;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }

  .img-title {
    color: #4582b8;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0;
    line-height: 2;
  }

  .img-caption {
    color: #000;
    font-size: 15px;
    line-height: 2;
  }

  .testimonial {
    background-color: #94d1c2;
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;
  }

  .testimonial-title {
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 80px;
  }

  .testi-box {
    background-color: #fff;
    padding: 25px;
    padding-top: 80px;
    text-align: center;
    border-radius: 1px;
    position: relative;

    @media(max-width:450px){
      margin-bottom: 30px;
    }

  }

  .testi-testi {
    color: #4682b8;
    font-size: 13px;
  }

  .testi-author {
    color: #4682b8;
    margin-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .img-testi {
    width: 115px;
    height: 115px;
    position: absolute;
    top: -62px;
    left: 119px;
  }

  .footer {
    background-color: #f3d748;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    color: #6d6950;
  }

  .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer li a {
    font-size: 14px;
    color: #6d6950;
    text-decoration: none;
  }

  .footer-address,
  .instagram,
  .facebook {
    margin-top: 30px;
    font-size: 14px;
    color: #6d6950;
  }

  .instagram a,
  .facebook a {
    font-size: 14px;
    color: #6d6950;
    text-decoration: none;
  }

  .facebook {margin-top: 20px !important;}

  .footer-title {
    color: #6d6950;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .subscribe-subtitle {
    margin-top: 10px;
  }

  .width60 {width: 60%;}
  .width80 {width: 80%;}

  .btn-subs {
    background-color: #e08361;
    color: #fff;
    font-size: 12px;
    padding: 7px 18px;
  }


/*faq*/
.hero-faq {
  background-color: #4988cd;
  height: 40vh;
  text-align: center;
  padding: 20px 0;
}

.faq {
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq-title {
  color: #8691b1;
  position: relative;
  font-size: 17px;
}

.faq-title:before {
  content: '';
  position: absolute;
  background-color: #38d497;
  width: 60px;
  height: 2px;
  bottom: -9px;
}

/*aboutus*/
.aboutus {
  background-color: #86cbb9;
  padding: 50px 0;
  color: #fff;
}

.aboutus-content {
  font-size: 15px;
  line-height: 2;
  text-align: justify;
}

.aboutus-content-title {
  font-size: 28px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 20px;
  line-height: 2;
}

.aboutus-whatweoffer {
  padding: 60px 0;
}

.aboutus-whatweoffer .aboutus-header {
  color: #f6d749;
  text-align: center;
}

.step-number {
  color: #86cabb;
  font-size: 75px;
}

.step-number-text {
  color: #ee8d87;
}

.aboutus-aboutkidu {
  padding: 60px 0;
  background-color: #ee8d87;
}

.aboutus-aboutkidu .aboutus-header {
  color: #fff;
  text-align: center;
}

.aboutus-learn {
  padding: 60px 0;
  background-color: #fff;
}

.aboutus-learn .aboutus-header {
  color: #87ccba;
  text-align: center;
}

.aboutus-organize {
  padding: 60px 0;
  background-color: #4988cd;
  color: #fff;
}

.aboutus-organize .aboutus-header {
  color: #fff;
  text-align: center;
}

.upcoming {
  padding: 40px 0;
}

.upcoming-title {
  text-align: center;
  color: #86cbba;
  text-transform: uppercase;
}

/*past workshop*/
.pastworkshop {
  padding: 40px 0;
}
.past-workshop-wrapper {
  margin-bottom: 2rem;
}

.detailpastworkshop .heading {
  margin-bottom: 1rem;
  color: #86cbba;
  text-transform: uppercase;
}

/*order summary*/
.ordersummary {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  /*box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.5);*/
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


/*blog*/
.blog {padding-top: 40px; padding-bottom: 40px;}
.blog .hero-header {
  color: #4bc1c1;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}
.blog-content {margin-top: 30px;}
.blog-title {
  color: #4988cd;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 2px;
}
.blog-subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  margin-top: 20px;
}

/*getintouch*/
.getintouch {padding-top: 40px; padding-bottom: 40px;}
.getintouch .hero-header {
  color: #4bc1c1;
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

/*account*/
.account {

}

/*detail activities*/
.detail-activities {
  padding-top: 30px;
  padding-bottom: 30px;
}

.detail-activities .img-wrapper{
  height: 420px;

}
@media(max-width: 450px){
  .detail-activities .img-wrapper{
    height: 250px;
  }
}

.detail-activities .img-wrapper img {
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}

.detail-title {
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  margin-top: 15px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
}

.detail-caption-bold {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.detail-caption-light {
  font-weight: 300;
}

.detail-information {
  margin-top: 15px;
}

.detail-information-title {
  font-size: 14px;
  font-weight: bold;
}

@media(max-width: 567px){
  .detail-information-answer {margin-bottom: 5px;}
}

.detail-information-answer {
  font-size: 14px;
  font-weight: 300;
}

.detail-information-willyoulearn {
  /*padding-left: 40px;
  padding-right: 40px;*/
  position: relative;
}

/*.detail-information-willyoulearn:before {
  content: '';
  position: absolute;
  height: 40px;
  width: 3px;
  background-color: #ffb3a7;
}*/


.divider {
  border-bottom: 1px solid #d3d3d3;
  padding-top: 20px;
  margin-bottom: 20px;
}


.btn-kiducation {
  background-color: #62aeb3 !important;
  border-radius: 3px;
  color: #fff;
  border-color: transparent;
}

.btn-kiducation a {
  text-decoration: none;
  color: #fff;
}

.btn-transparent {
  background-color: transparent !important;
  color: #000;
  padding: 0;
  margin: 0;
  text-align: left;
}

/*order*/
.order {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  /*box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.5);*/
  /*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; 
  padding: 2rem;
}

.order h3 {color: #8cccbc; }

.order input {color: #000; width: 100%; margin-bottom: 10px; height: 40px; padding: 10px;}
/*order*/


.checkpayment {
  /*padding: 80px 0;*/
}

/*footer*/
.footer .facebook-logo {
  position: relative;
}

.footer .facebook-logo:before {
  content: '\24E3';
  position: absolute;
}

.footer a {text-decoration: none !important;}

@media (max-width: 630px){
  .footer .footer-pattern {
    position: absolute; 
    bottom: -23px !important; 
    left: -70px !important;
    width: 200px;
  }
}


/*utilities*/
.d-inline-block {display: inline-block !important;}

.text-dark {
  color: #333333 !important; }

.text-dark a {text-decoration: none !important;}
.strong {font-weight: bold;}

a.text-dark:hover, a.text-dark:focus {
  color: #1a1a1a !important; }
.font-bold {font-weight: bold !important;}
.mx-2 {margin: 0 1rem;}
.py-4 {padding: 2rem;}
.py-main {padding: 8rem 0 !important;} 
.mb-0 {margin-bottom: 0 !important;}
.mb-1 {margin-bottom: 1rem !important;}
.mb-3 {margin-bottom: 2rem !important;}
.mt-3 {margin-top: 3rem !important;}
.mt-5 {margin-top: 5rem !important;}
.pl-15 {padding-left: 15px !important;}
.a-none {text-decoration: none !important;}
.border-bottom {border-bottom: 1px solid #e5e5e5 !important; }
.border-top-0 {border-top-color: transparent !important;}
.w-150 {width: 150px !important;}
.float-right {float: right !important;}

.container-xs {
  max-width: 540px; }

.container-sm {
  max-width: 720px; }

.container-md {
  max-width: 960px; }

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }

.shadow-none {
  box-shadow: none !important;
}

iframe.youtube-frame {
  width: 100%;
  height: 450px;
  transition: all 0.5s;
  border-color: transparent;
}

@media (max-width: 567px){
  iframe.youtube-frame {
    width: 370px !important;
    height: 250px !important;
  }

  .display-none-xs {display: none !important;}
}

/* ==========================================================================
   Cover
   ========================================================================== */
.cover {
  position: relative;
  height: 500px; }
  @media (min-width: 768px) {
    .cover {
      height: 500px; } }
  .cover .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%; }
  .cover .cover-content {
    width: 100%; }
    @media (min-width: 768px) {
      .cover .cover-content {
        max-width: 500px; } }
  .cover .cover-title {
    font-size: 3.5rem;
    color: #fff; }
  .cover .cover-text {
    color: #fff;
    opacity: .75; }

.cover.cover-full {
  height: 100vh; }
  @media (min-width: 768px) {
    .cover.cover-full {
      height: 100vh; } }

.cover-carousel .carousel,
.cover-carousel .carousel-inner,
.cover-carousel .carousel-item {
  height: 100%; }

/* ==========================================================================
   Card
   ========================================================================== */
.card {
  border-color: #fafafa;
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }

.card-boxless {
  background: transparent;
  border-color: transparent;
  box-shadow: none; }
  .card-boxless .card-body {
    padding: 0;
    overflow: hidden;
    height: 290px; }
  .card-boxless img + .card-body {
    padding-top: 1.5rem; }

@media(max-width: 567px){
  .card-boxless {margin-bottom: 10px;}
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125); }

  .card > hr {
    margin-right: 0;
    margin-left: 0; }

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem; }

.card-title {
  margin-bottom: 1rem; }

.card-subtitle {
  margin-top: -0.5rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link:hover {
  text-decoration: none; }
.card-link + .card-link {
  margin-left: 1.5rem; }

.card-header {
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0; }

.card-footer {
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125); }

.card-header-tabs {
  margin-right: -0.75rem;
  margin-bottom: -1rem;
  margin-left: -0.75rem;
  border-bottom: 0; }

.card-header-pills {
  margin-right: -0.75rem;
  margin-left: -0.75rem; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem; }

.card-img {
  width: 100%; }

.card-img-top {
  width: 100%; }

.card-img-bottom {
  width: 100%; }

.card-deck {
  display: flex;
  flex-direction: column; }
  .card-deck .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-deck {
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px; }
      .card-deck .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px; } }

.card-group {
  display: flex;
  flex-direction: column; }
  .card-group > .card {
    margin-bottom: 15px; }
  @media (min-width: 576px) {
    .card-group {
      flex-flow: row wrap; }
      .card-group > .card {
        flex: 1 0 0%;
        margin-bottom: 0; }
        .card-group > .card + .card {
          margin-left: 0;
          border-left: 0; } }

.card-columns .card {
  margin-bottom: 1rem; }

/* ==========================================================================
   Text
   ========================================================================== */
.font-size-xs {
  font-size: 70%; }

.font-size-sm {
  font-size: 80%; }

.font-size-md {
  font-size: 90%; }

.font-size-lg {
  font-size: 110%; }

.font-size-xl {
  font-size: 120%; }

.text-uppercase-custom {
  text-transform: uppercase;
  letter-spacing: 2px; }

.text-truncate {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap; }

/* ==========================================================================
   Pattern
   ========================================================================== */
.pattern17-mobile {
   top: 100px; right:16em;
}

@media(max-width: 567px){
  .pattern17-mobile {
    top: 62px !important;
    right: 22em !important;
  }
}

.pattern-hover,
.pattern-move {transition: all 0.2s;}
.pattern-hover:hover {
  transform: rotate(-30deg);
}
.pattern-move:hover {
  margin-left: 20px;
}

/* ==========================================================================
   text truncate multiline
   ========================================================================== */
.text-truncate-multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}

.text-truncate-twoline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  padding-bottom: 8px;
}

/* ==========================================================================
   img overlay
   ========================================================================== */
.card-boxless .img-thumbanils {
  position: relative;
  height: 176px;
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.card-img-top:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* ==========================================================================
   Fading Effect
   ========================================================================== */
.bg-white {background-color: #fff;}
.bg-grey-light {background-color: #f9f9f9;}
.heading-title {color: #fff;}
.fadingEffect {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0%;
  background: #fff;
  -moz-animation: showHide 9s;
  /* Firefox */
  -webkit-animation: showHide 9s;
  /* Safari and Chrome */
  -ms-animation: showHide 9s;
  /* IE10 */
  -o-animation: showHide 9s;
  /* Opera */
  animation: showHide 9s; }
  @media (min-width: 992px) {
    .fadingEffect {
      -moz-animation: showHide 15s;
      /* Firefox */
      -webkit-animation: showHide 15s;
      /* Safari and Chrome */
      -ms-animation: showHide 15s;
      /* IE10 */
      -o-animation: showHide 15s;
      /* Opera */
      animation: showHide 15s; } }

.fadingEffectFast {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0%;
  background: #fff;
  -moz-animation: showHide 5s;
  /* Firefox */
  -webkit-animation: showHide 5s;
  /* Safari and Chrome */
  -ms-animation: showHide 5s;
  /* IE10 */
  -o-animation: showHide 5s;
  /* Opera */
  animation: showHide 5s; }
  @media (min-width: 992px) {
    .fadingEffectFast {
      -moz-animation: showHide 5s;
      /* Firefox */
      -webkit-animation: showHide 5s;
      /* Safari and Chrome */
      -ms-animation: showHide 5s;
      /* IE10 */
      -o-animation: showHide 5s;
      /* Opera */
      animation: showHide 5s; } }

@-webkit-keyframes showHide {
  /* Chrome, Safari */
  0% {
    width: 100%; }
  40% {
    width: 0%; }
  60% {
    width: 0%; }
  100% {
    width: 0%; } }
@-moz-keyframes showHide {
  /* FF */
  0% {
    width: 100%; }
  40% {
    width: 0%; }
  60% {
    width: 0%; }
  100% {
    width: 0%; } }
@-ms-keyframes showHide {
  /* IE10 */
  0% {
    width: 100%; }
  40% {
    width: 0%; }
  60% {
    width: 0%; }
  100% {
    width: 0%; } }
@-o-keyframes showHide {
  /* Opera */
  0% {
    width: 100%; }
  40% {
    width: 0%; }
  60% {
    width: 0%; }
  100% {
    width: 0%; } }
@keyframes showHide {
  0% {
    width: 100%; }
  40% {
    width: 0%; }
  60% {
    width: 0%; }
  100% {
    width: 0%; } }


.typewriter h4,
.typewriter span {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}