.organize {}
.organize-header {text-align: center; text-transform: uppercase; margin-bottom: 50px; color: #4c89ca;}
.img-caption {text-align: center; text-transform: uppercase; font-size: 14px; margin-top: 5px; color: #7dbb00;}
.img-wrapper {
	height: 250px;
}

.img-wrapper img {
	width: 100%;
    height: 100%;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
.content-text {text-align: justify; line-height: 2.4em;}
