<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <!--Anything you want-->
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="#">Kiducation</strong> Developed by <a href="#" target="_BLANK">DNA</a>
  </footer>